<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neptun.jxy1vz.hp_cluedo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/game_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name="neptun.jxy1vz.cluedo.ui.map.MapActivity"
        </activity>
        <activity android:name=".ui.mystery_cards.MysteryCardActivity"
            android:screenOrientation="landscape">
        <activity android:name=".ui.menu.MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="neptun.jxy1vz.hp_cluedo.ui.activity.map.MapActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="neptun.jxy1vz.hp_cluedo.ui.activity.mystery_cards.MysteryCardActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name="neptun.jxy1vz.hp_cluedo.ui.activity.menu.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>